*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    font-family: Helvetica;
    position: absolute;
    z-index: -1;

}

.bg {

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    @extend .animation;
}

.animation {
	-webkit-transition: background-image 1s ease;
    transition: background-image 1s ease;

}


.bg1 {
    background: url(images/bg1.jpg) no-repeat center center fixed;
    @extend .bg;
     --color: #1e90ff;
}
.bg2{
    background: url(images/bg2.jpg) no-repeat center center fixed;
    @extend .bg;
    --color: red;

}
.bg3 {
    background: url(images/bg3.jpg) no-repeat center center fixed;
    @extend .bg;
    --color: orange;
}
.bg4 {
    background: url(images/bg4.jpg) no-repeat center center fixed;
    @extend .bg;
    --color: rgb(92, 82, 235);
}

#card-container {
    position: absolute;
    z-index: 9;
}

#card {
        cursor: move;
    z-index: 10;
    position: relative;
    border-top: 1px solid rgba(255, 255, 255,.5);
    border-right: 1px solid rgba(0, 0, 0,.5);
    border-bottom: 1px solid rgba(0, 0, 0,.5);
    border-left: 1px solid rgba(255, 255, 255,.5);
    border-radius: 6px;
    background: radial-gradient(rgba(128, 128, 128, 0.223), rgba(255, 255, 255, 0.189));
    background-clip: padding-box;
    padding: 1em;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.651), inset 0 0 20px rgba(255, 255, 255, 0.575);
    width: 300px;
    min-height: 100px;
    background-origin: border-box;
    text-shadow: 3px 3px 7px rgba(0, 0, 0, .8);
    color: rgba(255,255,255, .6);

    > h1, > h2, > h3, > h4, > h5, > h6, > div{
        margin: 0;
        margin-bottom: 1.5rem;
    }
    .btn {
        padding: 1em;
        background: var(--color);
        color: white;
        border: 0;
        border-radius: 10px;
        width: 100%;
        &:hover{
        }
        &:active {
            background: lighten(black, 3%);
            position: relative;
            top: 1px;
            left: 1px;
        }
    }

}

#card::after {
    position: absolute;
    top: -2px;
    bottom: -1px;
    left: -2px;
    right: -1px;
    background: radial-gradient(farthest-corner at 3em 3em, #32323280, #ffffff80);
    content: "";
    z-index: -1;
    border-radius: 6px;
    background-origin: border-box;
}
